/* 头部样式 */
header {
    background: linear-gradient(225deg, #08F7C1, #08B5F7); /* 从浅蓝到深蓝的渐变 */
    color: white;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* 主体样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(225deg, #08F7C1, #08B5F7); /* 从浅蓝色到深蓝色的渐变 */
    color: #333;
}

/* 页脚样式 */
footer {
    background: linear-gradient(45deg, #08B5F7, #08F74A); /* 与头部渐变一致 */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

nav {
    margin-top: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* 容器样式 */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* 透明白色，凸显内容 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 时间轴样式 */
.timeline {
    position: relative;
    padding: 50px 0;
}

.timeline-item {
    margin-bottom: 50px;
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #007ACC;
}

.timeline-item-content {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.timeline-item-content:hover {
    transform: translateY(-5px);
}

.timeline-item-content .tag {
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007ACC;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    display: inline-block;
}

.timeline-item-content h2 {
    font-size: 1.8rem;
    color: #007ACC;
    margin-bottom: 10px;
}

.timeline-item-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.timeline-item-content .read-more {
    color: #007ACC;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #007ACC;
    padding: 5px 15px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.timeline-item-content .read-more:hover {
    background-color: #007ACC;
    color: #ffffff;
    text-decoration: none;
}

.timeline-item-content .circle {
    position: absolute;
    left: -22px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #007ACC;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

/* 文章内容样式 */
.post-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* 确保文本左对齐 */
}

.post-content h1, .post-content h2, .post-content h3 {
    color: #007ACC;
    margin-bottom: 20px;
}

.post-content p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* 图片居中 */
}

.post-content blockquote {
    background-color: #f0f4f8;
    border-left: 5px solid #007ACC;
    margin: 20px 0;
    padding: 10px 20px;
    font-style: italic;
}

/* 元信息样式 */
.post-meta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
}

.post-meta p {
    font-size: 0.9rem;
    color: #666;
}

.post-meta a {
    color: #007ACC;
    text-decoration: none;
    font-weight: bold;
}

.post-meta a:hover {
    text-decoration: underline;
}


footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* 响应式设计 */
@media (min-width: 768px) {
    .homepage-layout, .content-layout {
        flex-direction: row;
    }

    .post-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .author-info, .post-meta, .post-toc {
        width: 20%;
    }

    .post-content {
        width: 75%;
    }
}

@media (max-width: 767px) {
    header h1 {
        font-size: 1.5rem;
    }

    .post-content {
        padding: 15px;
    }

    .post-toc, .post-meta {
        position: relative;
        max-height: none;
        overflow-y: visible;
    }

    .post-toc {
        padding-left: 0;
        border-left: none;
    }

    .timeline-item-content {
        padding: 15px;
    }

    .timeline-item-content h2 {
        font-size: 1.5rem;
    }

    footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .post-content {
        padding: 10px;
    }

    .timeline-item-content h2 {
        font-size: 1.3rem;
    }

    .timeline-item-content {
        padding: 10px;
    }

    footer {
        padding: 10px 0;
    }
}
