{{ define "main" }}
<link rel="stylesheet" href="{{ "css/tags.css" | relURL }}">
<div class="container tags-page">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="tag-list">
        {{ range .Pages }}
        <div class="tag-card">
            <a href="{{ .Permalink }}" class="tag-card-link">
                <h2 class="tag-card-title">{{ .Title }}</h2>
                <p class="tag-card-count">{{ .Params.count }} Posts</p>
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
